<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<br/>
<br/><legend><p class="p1">Sign up Page</p></legend><br/>
<!-- <div>
  <button type="submit" class="btn btn-primary"  (click)="getDnr()">Submit</button>
</div> -->

<div class="container">

  <form  class="form"  #f2="ngForm" >
      <div class="alert alert-success fade show" role="alert" id="success_alert" *ngIf="edited" >
          <h4 class="alert-heading">Well done!</h4>
          <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
          <hr>
          <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    <div class="form-group col-sm-10">

      <label class="control-label col-sm-2" >Name:</label>
      <div class="form-row">     
      <div class="col">
        <input #firstname type="text" class="form-control" id="firstname" placeholder="First Name" name='firstname' ngModel required pattern="^[a-zA-Z\.]*$">
      </div>
      <div class="col">
        <input #lastname type="text" class="form-control" id="lastname" placeholder="Last Name" name='lastname' ngModel required pattern="^[a-zA-Z\.]*$">
      </div> </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Gender:</label>
        <div class="col-sm-10">
                <select class="form-control" id="gender" #gender type="text" name='gender' ngModel required>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
                <br>
          </div>
        </div>
  <div class="form-group">
  <label class="control-label col-sm-2" >IDproof:</label>
  <div class="col-sm-10">
    <input type="text" class="form-control"  name="idproof" #idproof placeholder="enter government given identity proof (aadhar preferred)" ngModel required maxlength="12"  >
  </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" >E-Mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control"  name="email" #email placeholder="E mail ID" ngModel required  >
    </div>
  </div>
<div class="form-group">
<label class="control-label col-sm-2" >Date of Birth:</label>
<div class="col-sm-10">
  <input type="date" class="form-control" placeholder="Date" name="date" ngModel #date required >
</div>

</div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!f2.valid" (click)="addForm2(firstname.value,lastname.value,gender.value,idproof.value,date.value,email.value)">Submit</button>
        </div>
      </div>
    </form>
  </div>

