<br/>
<br/><legend><p class="p1">Track Policy</p></legend><br/>
<!-- <div>
  <button type="submit" class="btn btn-primary"  (click)="getDnr()">Submit</button>
</div> -->
<div class="container">

  <form  class="form"  #f="ngForm" >
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-prepend">
            <button type="submit" class="btn btn-primary" (click)="getList()"><i class="fa fa-search"></i> Search</button>
          </span>
          <input #search type="text" id="policyid" name="policyid" class="form-control" placeholder="Policy ID" ngModel required>
        </div>
      </div>
      <table class="table" name="data_table" id="data_table" *ngIf="visible2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Status</th>
        </thead>
    
        <tr *ngFor="let data of recp;let i = index" >
    
            <td>
                <span>{{data.addr}}</span>
            </td>
            <td>
                <span>{{data.number}}</span>
            </td>
            <td>
                <span>{{data.status}}</span>
            </td>
        </tr>
    </table>
    </div>

    </form>
  </div>



