<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<br/>
<br/><legend><p class="p1">Policy Registration</p></legend><br/>
<!-- <div>
  <button type="submit" class="btn btn-primary"  (click)="getDnr()">Submit</button>
</div> -->
<div class="container">

  <form  class="form"  #f="ngForm" >
    <div class="form-group">

      <label class="control-label col-sm-2" id="name">Name:</label>
      <div class="col-sm-10">
        <input #Name type="text" class="form-control" id="name" placeholder="name" name='Name' ngModel required pattern="^[a-zA-Z\.]*$">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="Date">Date of Birth:</label>
      <div class="col-sm-10">
        <input #date type="date" class="form-control" id="date" placeholder="Date" name='date' ngModel required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" id="Gender">Gender:</label>
      <div class="col-sm-10">
              <select class="form-control" id="Gender" #Gender type="text" name='Gender' ngModel required>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
              <br>
        </div>
      </div>
    
  

      <div class="form-group">
        <label class="control-label col-sm-2" id="idproof">From</label>
        <div class="col-sm-10">
          <input #from type="text" ngModel required class="form-control" id="from" placeholder="The place from where you start your journey" ngModel required  >
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" id="cno">To</label>
        <div class="col-sm-10">
          <input #to type="text" class="form-control" id="to" placeholder="" name="to" ngModel required maxlength="10" >  
  </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" id="cid">Amount</label>
        <div class="col-sm-10">
          <input #amt type="textarea" class="form-control" id="amt" placeholder="Insurance Amount" name="amt" ngModel required>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="addInsurance(Gender.value,from.value,to.value,amt.value,date.value,Name.value)">Submit</button>
        </div>
      </div>
    </form>
  </div>

