<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<br/>
<br/><legend><p class="p1">Policy Registration</p></legend><br/>
<!-- <div>
  <button type="submit" class="btn btn-primary"  (click)="getDnr()">Submit</button>
</div> -->
<div class="container">

  <form  class="form"  #f="ngForm" >
    <div class="form-group">

      <label class="control-label col-sm-2" id="name">Customer unique ID</label>
      <div class="col-sm-10">
        <input #userid type="text" class="form-control" id="userid" placeholder="Unique ID" (change)= "getvalid(userid.value)" name='userid' ngModel required>
      </div>
      <div class="alert alert-danger" role="alert" id="date_validate" *ngIf="visible_val">
        Enterv Valied User ID. #Check your Mail#
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="Date">Date of departure:</label>
      <div class="col-sm-10">
        <input #date type="date" class="form-control" id="dates"  placeholder="Date" name='date' ngModel required>
      </div>
    </div>
    
      <div class="form-group">
        <label class="control-label col-sm-2" >From</label>
        <div class="col-sm-10">
          <input #from type="text" ngModel required class="form-control" id="from" placeholder="from" name="from" >
    <small class="form-text text-muted"></small>
        </div>

      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" id="cno">To</label>
        <div class="col-sm-10">
          <input #to type="text" class="form-control" id="to" placeholder="to" name="to" (change)= "get_products(from.value,to.value)" ngModel required  >
  <small class="form-text text-muted"></small>      
  </div>
      </div>
      <table class="table col-sm-10" name="test_table" id="test_table" *ngIf="visible">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Flight Number</th>
                <th>Time</th>
        </thead>
    
        <tr *ngFor="let data of Table;let i = index" (click)=selectflight(Table[i])>
    
            <td>
                <span>{{data.from}}</span>
            </td>
            <td>
                <span>{{data.to}}</span>
            </td>
            <td>
                <span>{{data.number}}</span>
            </td>
            <td>
              <span>{{data.time}}</span>
            </td>
        </tr>
    </table>
      <div class="form-group">
        <label class="control-label col-sm-2" >Amount</label>
        <div class="col-sm-10">
          <!-- <input #amt type="textarea" class="form-control" id="cid" placeholder="enter Insurance amount" name="cid" (change)= "get_reward(amt.value)" ngModel required> -->
          <select class="form-control" id="policyamt" #policyamt type="text" name='policyamt'  (change)= "get_reward(policyamt.value)" ngModel required>
              <option>45</option>
              <option>100</option>
              <option>200</option>
              <option>400</option>
            </select>
            <br>
        
        </div>
      </div>
      
       <table class="table col-sm-10" name="rate_table" id="rate_table" *ngIf="visible2">
         
        <thead>
          <tr><th colspan="3"><p>Payouts for premium Selected: </p></th></tr>
            <tr>
                <th>Delayed</th>
                <th>Deviated</th>
                <th>Cancelled</th>
        </thead>
    
        <tr *ngFor="let data of Table2;let i = index" >
    
            <td>
                <span>{{data.ac}}</span>
            </td>
            <td>
                <span>{{data.ad}}</span>
            </td>
            <td>
                <span>{{data.ab}}</span>
            </td>
        </tr>
    </table> 
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="addInsurance(from.value,to.value,policyamt.value,date.value,userid.value)">Submit</button>
        </div>
      </div>
    </form>
  </div>
